---
import Layout from '../../layouts/Layout.astro';
import CreateNewAccount from '../../components/CreateNewAccount.svelte';
---

<Layout>
  <h2>Sign Up</h2>
  <CreateNewAccount client:load />
</Layout>