---
import Layout from '../../layouts/Layout.astro';
import CreateNewAccount from '../../components/CreateNewAccount.svelte';
---

<Layout>
  <h2>Sign Up</h2>
  <p>このアカウントは，当ブログ内でのコメント投稿にのみ使用できる，汎用性が無さすぎるサービスです．それでも納得いただける熱狂的ファンの皆様のみ，ご登録ください．</p>
  <CreateNewAccount client:load />
</Layout>