---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogPostCard from '../../components/BlogPostCard.astro'; // 後で作成します

const allBlogPosts = await getCollection('blog');
allBlogPosts.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()); // 日付順
---

<Layout>
  <h2>Posts</h2>
  <div class="posts-grid">
    {allBlogPosts.map(post => (
      <BlogPostCard post={post} />
    ))}
  </div>
</Layout>