---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogPostCard from '../../components/BlogPostCard.astro';
import styles from './pages_posts.module.scss';

const allBlogPosts = await getCollection('blog');
const publicPosts = allBlogPosts
  .filter(post => !post.data.draft) // ← ここ追加！
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<Layout>
  <head>
    <title>Posts | Diaries by Wing</title>
    <meta name="description" content="この素晴らしいブログに，Wingが書き込んだ記事を，ぜひご覧ください！" />
  </head>
  <h2>Posts</h2>
  <div class={styles.postsGrid}>
    {allBlogPosts.map(post => (
      <BlogPostCard post={post} />
    ))}
  </div>
</Layout>
