.back {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  &:hover {
    text-decoration: underline;
  }

  svg {
    fill: currentColor;
    margin-right: 5px;
  }
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}