---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <head>
    <title>Diaries by Wing</title>
    <meta name="description" content="Wingのブログは，個人の日記としてより親しみやすくなるべく，「Diaries by Wing」にリニューアルしました．" />
    <meta name="robots" content="noindex" />
  </head>
  <h2>Home</h2>
  <p>準備中です...</p>
</Layout>
