---
import Layout from '../layouts/Layout.astro';
import JavaScriptRequired from '../components/JavaScriptRequired.astro';
---

<Layout>
  <JavaScriptRequired client:load />
  <p>Coming Soon...</p>
</Layout>