.card {
  border: 1px solid var(--postcard-border);
  background-color: var(--postcard-background);
  border-radius: 8px;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 4px var(--foreground);
  transition: transform 0.2s ease-in-out;
}

.cardLink {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  height: 180px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card .h2 {
  margin-top: 0;
  font-size: 1.4em;
  color: var(--a-default);
}

.card .description {
  color: var(--foreground);
  flex-grow: 1;
}

.card .date {
  font-size: 0.9em;
  color: var(--description-text);
  margin-top: 10px;
}

.tagList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tagLink {
  display: inline-block;
  background-color: var(--tag-background);
  color: var(--tag-foreground);
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--tag-background-hover);
    border: solid 1px var(--tag-foreground);
    padding: 7px 14px;
  }
}