.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.link, p {
  margin: 0;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 43px;
  width: 100%;
  box-shadow: 0 1px 7px var(--foreground);
  background-color: var(--background-transparent);
  backdrop-filter: blur(1px);
}