---
---

<>
  <footer>
    <p>&copy; 2025 Wing. 無断転載・無断改変を禁じます．</p>
    <div>
      <a href="https://wing.osaka">ホームページ</a>
      <a href="mailto:wing@me.wing.osaka">メール</a>
    </div>
  </footer>
</>