---
import styles from './footer.module.scss';
---

<>
  <footer transition:animate=slide class={styles.footer}>
    <p class={styles.p}>&copy; 2025 Wing. 無断転載等を禁じます．</p>
    <a class={styles.link} href="https://wing.osaka">ホームページ</a>
    <a class={styles.link} href="mailto:wing@me.wing.osaka">メール</a>
  </footer>
</>