---
import styles from './header.module.scss';
---

<>
  <header>
    <h1 class={styles.title}>Blog by Wing</h1>
    <div class={styles.headerLinkTo}>
      <a class={styles.headerLink} href='/'>Home</a>
      <a class={styles.headerLink} href='/posts'>Posts</a>
    </div>
  </header>
</>
