---
---

<>
  <header>
    <h1>Blog by Wing</h1>
    <div class="headerLinkTo">
      <a href='/'>Home</a>
      <a href='/posts'>Posts</a>
    </div>
  </header>
</>

<style>
  h1 {
    text-align: center;
  }
  
  a {
    margin: 0 5px;
  }
  
  .headerLinkTo {
    margin: 0;
    display: block;
    text-align: center;
    padding: 0;
  }
</style>