---
import Layout from '../../layouts/Layout.astro';
import SearchForm from '../../components/SearchForm.tsx';
import SearchResult from '../../components/SearchResult.svelte';

const workerUrl = 'https://search.api.diaries.wing.osaka';
---

<Layout>
  <head>
    <title>検索</title>
  </head>
  <h2>Search</h2>
  <SearchForm client:load />
  <SearchResult workerUrl={workerUrl} client:load />
</Layout>