<!doctype html>
<html lang="ja">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro Basics</title>
  </head>
  <body>
	<slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css'; /* または global.scss */
</style>
