---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="ja">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Wingのブログ（beta）</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>
